---
- name: Archlinux | Install pxpect
  pip:
    name: pexpect

- name: Archlinux | Install from pacman
  become: true
  pacman:
    name: "{{ global_menu_pacman }}"
  state: latest

- name: Archlinux | Install from AUR
  shell: yes | yay -S {{ global_menu_aur }}

- name: Archlinux | Configure.
  command: "{{ item }}"
  with_items: "{{ xfconf_commands }}"
