---
- name: Archlinux | clone yay repo.
  shell: git clone {{ yay_repo }}
  args:
    chdir: "{{ tmp_dir }}"

- name: Archlinux | Install yay.
  shell: makepkg -sci
  args:
    chdir: "{{ yay_work_dir }}"