---
- name: Archlinux | Install core packages.
  become: true
  pacman:
    update_cache: yes
    name: "{{ item }}"
    state: present
  with_items: "{{ openbox_pacman_packages }}"

- name: Archlinux | Install extract packages.
  command: yay -S {{ item }} --noconfirm
  with_items: "{{ openbox_yay_packages }}"