---
- name: Archlinux | Install requirements.
  become: true
  pacman:
    update_cache: yes
    name: "{{ themes_require_packages }}"
    state: present

- name: Archlinux | Install from AUR.
  command: yay -S {{ item }}  --noconfirm
  with_items: "{{ themes_from_aur }}"

- name: Archlinux | Clone from github repo.
  command: git clone {{ item }}
  args:
    chdir: "{{ tmp_dir }}"
  with_items: "{{ themes_repo }}"

- name: Archlinux | Install theme from git repo.
  become: true
  command: ./install.sh -a
  args:
    chdir: "{{ mojave_theme_tmp_dir }}"

- name: Archlinux | Install icons theme from git repo.
  become: true
  command: ./install.sh -a
  args:
    chdir: "{{ mojave_icons_tmp_dir }}"
