---
- name: Archlinux | Install theme requirements.
  become: true
  pacman:
    update_cache: yes
    name: "{{ themes_require_packages }}"
    state: present

- name: Archlinux | Install themes from AUR.
  command: yay -S {{ item }}  --noconfirm
  with_items: "{{ themes_from_aur }}"

- name: Archlinux | Clone from github repo.
  command: git clone {{ item }}
  args:
    chdir: "{{ tmp_dir }}"
  with_items: "{{ themes_repo }}"

- name: Archlinux | Install openbox themes.
  become: true
  shell: cp -r * {{ themes_path }}
  args:
    chdir: "{{ openbox_themes_path }}"

- name: Archlinux | Install gtk collection themes.
  become: true
  shell: cp -r * {{ themes_path }}
  args:
    chdir: "{{ gtk_themes_collection }}"